{% extends "master.html" %}

{% block body %}

<div>

<h3 >County of Monroe Industrial Development Agency</h3>

<p class="tab">
The County of Monroe Industrial Development Agency (COMIDA) performs a number of tasks for Monroe County, NY.  A full description of what the organization does can be found on their website:
</p>

<p class="tab">
<div class="dtab"><a href="http://www.growmonroe.org/">http://www.growmonroe.org/</a></div>
</p>

<p class="tab">
While conducting business throughout the year, COMIDA has public meetings.  These meetings have agendas, minutes, and resolutions that are posted publicly in PDF format to their website.  These various meeting notes date back to 2007.
</p>

<p class="tab">
This website allows for the simple searching of all of the available meeting agendas, minutes, and resolutions available on the COMIDA website.  Note: due to the nature of how the PDFs were created by COMIDA, some preview text may look garbled and incorrect.  The links on this site link directly to the COMIDA website, where the original PDFs can be found in a a human readable format.
</p>

<h3>Hacks/Hackers Rochester</h3>

<p class="tab">
This website was created by and is maintained by members of <a href="http://www.meetup.com/HackshackersROC/">Hacks/Hackers Rochester</a>.
</p>

<h3>License</h3>

<p class="tab">
This software is licensed under the GPLv3 license.  A copy of the license can be found here:
</p>

<p>
<div class="dtab"><a href="https://www.gnu.org/copyleft/gpl.html">https://www.gnu.org/copyleft/gpl.html</a></div>
</p>

<p class="tab">
Source code to this website and the tools used to create it can be found here:
</p>

<p>
<div class="dtab"><a href="https://github.com/hhroc/COMIDA-Minutes-Indexer/">https://github.com/hhroc/COMIDA-Minutes-Indexer</a></div>
</p>

<p class="tab">
If you would like to contribute to this project, fully tested pull requests and well-authored issues are welcome.
</p>

<h3>Disclaimer</h3>

<p class="tab">
This website nor it's author(s) have any affiliation to the County of Monroe Industrial Development Agency.  There is no garentee the data or information found on this site is correct.
</p>



</div>



{% endblock %}

